<div class="row p-3">
  <div class="col-md-6">
    <h4>Change Password</h4>
  </div>
</div>
<div class="primaryLayout">
  <div class="form" [formGroup]="changePasswordForm">
    <div class="row">
      <div class="col-md-6">
        <label for="currentpassword" class="px-2 pt-2">Current Password </label><span class="invaliddiv">*</span>
        <div class="inputField">
          <input id="currentpassword" [type]="password" formControlName="oldPassword" placeholder="Current Password"
            class="form-control"  
            [ngClass]="{ 'is-invalid': submitted && changePasswordForm.get('oldPassword')!.errors?.['required']}" />
           
              <i class="bi bi-eye-slash" *ngIf="password === 'password'" alt="" (click)="togglePassword()"></i>
              <i class="bi bi-eye-fill" alt="" *ngIf="password === 'text'" (click)="togglePassword()"></i>
            <div *ngIf="submitted && changePasswordForm.controls['oldPassword']!.errors" class="invaliddiv">
              <div *ngIf="changePasswordForm.controls['oldPassword']!.errors?.['required']">
                Current Password is required
              </div>
              
          <!-- <img src="../../../assets/images/icon/email.svg" alt="" /> -->
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="newpassword" class="px-2 pt-2">New Password</label><span class="invaliddiv">*</span>
        <div class="inputField">
          <input id="newpassword" [type]="newPass" placeholder="New Password" formControlName="newPassword" class="form-control" 
          [ngClass]="{ 'is-invalid': submitted && changePasswordForm.get('newPassword')!.errors?.['required']}" />
          <div *ngIf="submitted && changePasswordForm.controls['newPassword']!.errors" class="invaliddiv">
            <div *ngIf="changePasswordForm.controls['newPassword']!.errors?.['required']">
             New Password is required
            </div>
            <div *ngIf="changePasswordForm.controls['newPassword']!.errors?.['minlength']">
              Password must be at least 6 characters
            </div>
           
          <!-- <img src="../../../assets/images/icon/email.svg" alt="" /> -->
        </div>
        <span>
          <i class="bi bi-eye-slash" *ngIf="newPass === 'password'" alt="" (click)="togglePassword2()"></i>
          <i class="bi bi-eye-fill" alt="" *ngIf="newPass === 'text'" (click)="togglePassword2()"></i></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="confirmpassword" class="px-2 pt-2">Confirm Password</label><span class="invaliddiv">*</span>
        <div class="inputField">
          <input id="confirmpassword" [type]="conf" placeholder="Confirm Password" formControlName="confirmpassword"
            class="form-control" [ngClass]="{ 'is-invalid': submitted && changePasswordForm.get('confirmpassword')!.errors?.['required']}" />
            <div *ngIf="submitted && changePasswordForm.controls['confirmpassword']!.errors" class="invaliddiv">
              <div *ngIf="changePasswordForm.controls['confirmpassword']!.errors?.['required']">
                Confirm Password is required
              </div>
          <!-- <img src="../../../assets/images/icon/email.svg" alt="" /> -->
       
        </div>
        <span>
          <i class="bi bi-eye-slash" *ngIf="conf === 'password'" alt="" (click)="togglePassword1()"></i>
          <i class="bi bi-eye-fill" alt="" *ngIf="conf === 'text'" (click)="togglePassword1()"></i></span>
      </div>
    </div>
  </div>

  <div class="row p-3">
    <div class="buttonBox">
      <button class="btn btn-main" (click)="resetPassword()">Change Password</button>
    </div>
  </div>
</div>