<div class="container-fluid">
  <!-- <div class="row">
        <div class="col">
            <div class="filterBar">
                <div class="calenderTabs">
               
        
            </div>
            </div>
        </div>
    </div> -->
  <div class="row">
    <div class="col">
      <div class="filterBar">
        <div class="pageTitle">
          <div class="icon">
            <i class="fa-solid fa-chevron-left" [routerLink]="['/mentee/mentee-dashboard/mentors-details']"
              [queryParams]="{ user_id: user_id }"></i>
          </div>

          <p class="mb-0">Programs</p>
        </div>

        <div class="searchBox">
          <div class="icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="searchBox">
            <input type="text" class="form-control border-end-0 form-control-lg" placeholder="Search"
              style="font-size: 13px" (keyup)="onKeyUpEvent($event)" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab">
    <div class="tabContent">
      <div class="row">
        <div class="col-xl-4 col-md-6" *ngFor="
            let data of AllData
              | paginate
                : {
                    itemsPerPage: 10,
                    currentPage: session_page,
                    totalItems: totaldocs
                  }
          ">
          <div class="content">
            <div class="contentDetail" [routerLink]="['/mentee/mentee-dashboard/program-details']" [queryParams]="{
                program_id: data._id,
                idforback: id,
                id: data.user_id,
                catid: heading
              }">
              <div class="image">
                <img class="programImage" *ngIf="data?.image" [src]="showImage + data.image" alt="Image" />
                <img class="programImage" *ngIf="!data?.image" src="../../../../../assets/images/sessions.png" alt="" />
                <img *ngIf=" data?.verify_badge" src="../../../../../assets/images/medal.png" alt="" class="medal" />
              </div>

              <div class="text">
                <div class="time">
                  <i class="fa-solid fa-calendar-days"></i>
                  <span>{{ data.start_date | date : "mediumDate" }} </span>
                  {{ data.time }}
                </div>
                <h6 class="subtitle" *ngFor="let categoryData of data.category_id">
                  {{ categoryData.categoryName }}
                </h6>
                <h5 class="title">{{ data?.mentorship_name }}</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="tabFilter">
          <div class="pagination">
            <pagination-controls (pageChange)="pageChange($event)">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>