<!-- <div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="filterBar">
        <div class="pageTitle" (click)="goBack()">
          <div
            class="icon"
            [routerLink]="['/mentor/mentor-dashboard/session-detail']"
          >
            <i class="fa-solid fa-chevron-left"></i>
          </div>
          <p class="mb-0">View Ratings</p>
        </div>
      </div>
    </div>
  </div>
  <div class="primaryLayout">
    <div class="row">
      <div class="col">
        <div class="profileContent">
          <div class="profile">
            <div class="image">
              <img src="../../../../../assets/images/tabImage1.png" alt="" />
            </div>
            <div class="text2">
              <h5 class="title">Aliqua id fugiat nostrud irure</h5>
              <div class="time">
                <i class="fa-solid fa-calendar-days"></i>&nbsp;
                <span>03-16-2022</span>&nbsp;
                <i class="fa-solid fa-clock"></i>&nbsp;<span> 03:50 PM</span>
              </div>
              <div class="price">
                <div class="row">
                  <div class="col-5">
                    <h5>$14.99</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="ratings">
          <h5>Average Rating</h5>
          <div class="stars">
            <h1>4.5</h1>
            <div class="starBox">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star-half-stroke"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="ratingProgress">
          <div class="row align-items-center">
            <div class="col-2">
              <p class="mb-0"><i class="fa-solid fa-star"></i> 5</p>
            </div>
            <div class="col-7">
              <div class="progress" style="height: 6px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="70"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 40%"
                >
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>
            </div>
            <div class="col-3">
              <p class="mb-0 ms-3">3.0K</p>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-2">
              <p class="mb-0"><i class="fa-solid fa-star"></i> 4</p>
            </div>
            <div class="col-7">
              <div class="progress" style="height: 6px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="70"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 40%"
                >
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>
            </div>
            <div class="col-3">
              <p class="mb-0 ms-3">3.0K</p>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-2">
              <p class="mb-0"><i class="fa-solid fa-star"></i> 3</p>
            </div>
            <div class="col-7">
              <div class="progress" style="height: 6px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="70"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 40%"
                >
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>
            </div>
            <div class="col-3">
              <p class="mb-0 ms-3">3.0K</p>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-2">
              <p class="mb-0"><i class="fa-solid fa-star"></i> 2</p>
            </div>
            <div class="col-7">
              <div class="progress" style="height: 6px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="70"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 40%"
                >
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>
            </div>
            <div class="col-3">
              <p class="mb-0 ms-3">3.0K</p>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-2">
              <p class="mb-0"><i class="fa-solid fa-star"></i> 1</p>
            </div>
            <div class="col-7">
              <div class="progress" style="height: 6px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="70"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 40%"
                >
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>
            </div>
            <div class="col-3">
              <p class="mb-0 ms-3">3.0K</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="review">
          <div class="userRatings">
            <div class="userProfile">
              <div class="image">
                <img
                  src="../../../../../../../assets/images/review.png"
                  alt=""
                />
              </div>
              <div class="text">
                <h6>Robert Fox</h6>
                <div class="stars">
                  <h6>4.5</h6>
                  <div class="starBox">
                    <i class="fa-solid fa-star"></i
                    ><i class="fa-solid fa-star"></i
                    ><i class="fa-solid fa-star"></i
                    ><i class="fa-solid fa-star"></i
                    ><i class="fa-solid fa-star-half-stroke"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="dateofPost">
              <p>20/05/2022 | 08:30PM</p>
            </div>
          </div>
          <div class="reviewContent">
            <div class="row">
              <div class="col-md-10">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer.
                </p>
              </div>
              <div class="col-md-2 text-end mt-3">
                <button class="btn btn-replay">Reply</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="review">
          <div class="userRatings">
            <div class="userProfile">
              <div class="image">
                <img
                  src="../../../../../../../assets/images/review.png"
                  alt=""
                />
              </div>
              <div class="text">
                <h6>Robert Fox</h6>
                <div class="stars">
                  <h6>4.5</h6>
                  <div class="starBox">
                    <i class="fa-solid fa-star"></i
                    ><i class="fa-solid fa-star"></i
                    ><i class="fa-solid fa-star"></i
                    ><i class="fa-solid fa-star"></i
                    ><i class="fa-solid fa-star-half-stroke"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="dateofPost">
              <p>20/05/2022 | 08:30PM</p>
            </div>
          </div>
          <div class="reviewContent">
            <div class="row">
              <div class="col-md-10">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer.
                </p>
              </div>
              <div class="col-md-2 text-end mt-3">
                <button class="btn btn-replay">Reply</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="review">
          <div class="userRatings">
            <div class="userProfile">
              <div class="image">
                <img
                  src="../../../../../../../assets/images/review.png"
                  alt=""
                />
              </div>
              <div class="text">
                <h6>Robert Fox</h6>
                <div class="stars">
                  <h6>4.5</h6>
                  <div class="starBox">
                    <i class="fa-solid fa-star"></i
                    ><i class="fa-solid fa-star"></i
                    ><i class="fa-solid fa-star"></i
                    ><i class="fa-solid fa-star"></i
                    ><i class="fa-solid fa-star-half-stroke"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="dateofPost">
              <p>20/05/2022 | 08:30PM</p>
            </div>
          </div>
          <div class="reviewContent">
            <div class="row">
              <div class="col-md-10">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer.
                </p>
              </div>
              <div class="col-md-2 text-end mt-3">
                <button class="btn btn-replay">Reply</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="filterBar">
        <div class="calenderTabs"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="filterBar">
        <div class="pageTitle">
          <div class="icon">
            <i class="fa-solid fa-chevron-left" (click)="goBack()"></i>
          </div>

          <h2 class="mb-0">Sessions</h2>
        </div>

        <div class="searchBox">
          <div class="icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="searchBox">
            <input
              type="text"
              class="form-control border-end-0 form-control-lg"
              placeholder="Search"
              style="font-size: 13px"
              (keyup)="onKeyUpEvent($event)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab">
    <div class="tabContent">
      <div class="row">
        <div class="col-xl-4 col-md-6" *ngFor="let data of allData">
          <div
            class="content"
            [routerLink]="['/mentor/mentor-dashboard/ratings']"
            [queryParams]="{ _id: data._id }"
          >
            <div class="contentDetail">
              <div class="image">
                <img
                  *ngIf="data?.image"
                  [src]="showImage + data.image"
                  alt="Image"
                />
                <img
                  *ngIf="!data?.image"
                  src="../../../../assets/images/currentsession1.png"
                  alt=""
                />
              </div>
              <div class="text">
                <div class="time">
                  <i class="fa-solid fa-calendar-days"></i>
                  <span>{{ data.start_date | date : "mediumDate" }} </span>
                  {{ data.time }}
                </div>
                <h5 class="title">{{ data?.session_name }}</h5>
                <h2>Rating</h2>
                <span>{{ data?.averageRating }}</span>

                <div class="starBox">

                  <ng-container
                    *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                  >
                    <ng-container *ngIf="i < data?.averageRating">
                      <ng-container *ngIf="data?.averageRating - i < 1">
                        <i class="fa-solid fa-star-half-stroke"></i>
                      </ng-container>
                      <ng-container *ngIf="data?.averageRating - i >= 1">
                        <i class="fa-solid fa-star"></i>
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="i >= data?.averageRating">
                      <i class="fa-regular fa-star"></i> </ng-container
                  ></ng-container>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="check" *ngIf="allData?.length === 0">
          No Session Found Yet
        </div>
      </div>
    </div>
  </div>
</div>
