<div class="container-fluid">
  <div class="row h-100">
    <div class="col-md-6 sliderection centerMid">
      <div class="sliderContainer">
        <div class="logo">
          <img src="../../../assets/images/logo.png" alt="" />
        </div>
        <div class="sliderImg">
          <img src="../../../assets/images/resetPassword.png" alt="" />
        </div>
      </div>
    </div>
    <div class="col-md-6 centerMid" *ngIf="!passwordReset">
      <div class="formContainer">
        <div class="logoIcon">
          <img src="../../../assets/images/keyIcon.png" alt="" />
        </div>
        <h1>Reset Password</h1>
        <p>
          Your new password must be different from the previously used password.
        </p>
        <form [formGroup]="resetPasswordForm">
          <div class="row">
            <div class="col p-0">
              <label for="password">Password</label><span class="invaliddiv">*</span>
              <div class="inputField">
                <input id="password" [type]="conf" placeholder="New Password" formControlName="password"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && resetPasswordForm.get('password')!.errors?.['required']}" />
                <div *ngIf="
                    submitted && resetPasswordForm.controls['password']!.errors
                  " class="invaliddiv">
                  <div *ngIf="resetPasswordForm.controls['password']!.errors?.['required']">
                    Password is required
                  </div>
                  <div *ngIf="resetPasswordForm.controls['password']!.errors?.['minlength']">
                    Password must be at least 6 characters
                  </div>
                </div>
                <span>
                  <i class="bi bi-eye-slash" *ngIf="conf === 'password'" alt="" (click)="togglePassword1()"></i>
                  <i class="bi bi-eye-fill" alt="" *ngIf="conf === 'text'" (click)="togglePassword1()"></i></span>
                <!-- <img src="../../../assets/images/icon/lock.svg" *ngIf="password === 'password'" alt="" (click)="togglePassword()"/> 
                  <img src="../../../assets/images/icon/user.svg" alt="" *ngIf="password === 'text'" (click)="togglePassword()"/>  -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col p-0">
              <label for="ConfirmPassword">Confirm Password</label><span class="invaliddiv">*</span>
              <div class="inputField">
                <input id="ConfirmPassword" [type]="password" placeholder="Confirm Password"
                  formControlName="confirmePassword" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && resetPasswordForm.get('confirmePassword')!.errors?.['required']}" />
                <div *ngIf="
                    submitted &&
                    resetPasswordForm.controls['confirmePassword']!.errors
                  " class="invaliddiv">
                  <div *ngIf="resetPasswordForm.controls['confirmePassword']!.errors?.['required']">
                    Confirm Password is required
                  </div>
                </div>
                <!-- <img src="../../../assets/images/icon/lock.svg" *ngIf="password === 'password'" alt="" (click)="togglePassword()"/> 
                     <img src="../../../assets/images/icon/user.svg" alt="" *ngIf="password === 'text'" (click)="togglePassword()"/>  -->

                <span>
                  <i class="bi bi-eye-slash" *ngIf="password === 'password'" alt="" (click)="togglePassword()"></i>
                  <i class="bi bi-eye-fill" alt="" *ngIf="password === 'text'" (click)="togglePassword()"></i></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mt-4">
              <button class="btn btn-main" (click)="resetPassword()">
                Save Password
              </button>
            </div>
            <div class="col-12 mt-4">
              <button class="btn btn-main-outline" (click)="goTOLogin()">
                Back to Log in
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6 centerMid" *ngIf="passwordReset">
      <div class="formContainer">
        <div class="logoIcon">
          <img src="../../../assets/images/passwordResetIcon.png" alt="" />
        </div>
        <h1>Password Reset</h1>
        <p>Your password reset successfully. Click below for Sign-in page.</p>
        <form>
          <div class="row">
            <div class="col-12 mt-4">
              <button class="btn btn-main" (click)="goTOLogin()">
                Continue
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>