@import "/src/styles.scss";

.dashboard {
  background-color: $background;
  width: calc(100% - 220px);
  position: absolute;
  top: 80px;
  right: 0;
  padding: 0 0 15px 0;
  transition: all 0.5s;
  .statistics {
    .content {
      background-color: $light;
      border-radius: 15px;
      display: flex;
      align-items: flex-end;
      gap: 15px;
      margin: 15px;
      padding: 15px;
      .icon {
        width: 70px;
        height: 70px;
        border-radius: 10px;
        background-color: rgba($color: $primary, $alpha: 0.1);
        @include itemPosition(center, center);
      }
      .text {
        font-weight: 500;
        flex: 1;
        .dataItems {
          display: flex;
          align-items: flex-end;
          gap: 15px;
          flex-wrap: wrap;
          .data {
            display: flex;
            align-items: flex-end;
          }
        }
      }
    }
  }
  .graphs {
    .content {
      background-color: $light;
      border-radius: 15px;
      margin: 15px;
      padding: 15px;
      height: 100%;
      h4 {
        color: $dark;
        font-size: 20px;
      }
    }
  }
  .sessions {
    .content {
      background-color: $light;
      border-radius: 15px;
      padding: 15px;
      margin: 15px;
      h4 {
        color: $dark;
        font-size: 20px;
      }
      .sessionData {
        background-color: $light;
        border-radius: 15px;
        margin: 20px 0 0 0;
        border: 1.5px solid $secondary;
        margin: 15px;

        .image {
          background-color: #faf2ef;
          border-radius: 15px 15px 0 0;
          img {
            width: 100%;
          }
        }
        .textData {
          padding: 15px;
          .time {
            color: rgba($color: $dark, $alpha: 0.8);
            font-weight: 500;
            i {
              display: inline-block;
              margin-right: 10px;
            }
          }
          h6 {
            color: dark;
            font-weight: 500;
            font-size: 14px;
          }
          h5 {
            color: dark;
            font-weight: 600;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .dashboard {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .dashboard {
    top: 60px;
  }
}
