<!-- <app-sidebar></app-sidebar> -->
<div class="dashboard">
  <!-- <app-header></app-header> -->
  <div class="container-fluid">
    <div class="row statistics">
      <div class="col-md-4">
        <div class="content">
          <div class="icon">
            <img src="../../../assets/images/icon/3User.svg" alt="" />
          </div>
          <div class="text">
            <p class="mb-0 xsmallText">Current Mentees</p>
            <h1>5412</h1>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="content">
          <div class="icon">
            <img src="../../../assets/images/icon/mentorshipBig.svg" alt="" />
          </div>
          <div class="text">
            <p class="mb-0">Total Sessions</p>
            <div class="dataItems">
              <div class="data">
                <h1>45</h1>
                <p class="mb-0">Current</p>
              </div>
              <div class="data">
                <h1>87</h1>
                <p class="mb-0">Past Sessions</p>
              </div>
              <div class="data">
                <h1>450</h1>
                <p class="mb-0">Upcoming</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row graphs">
      <div class="col-md-8">
        <div class="content">
          <h4>Mentorship taken by Mentee's</h4>
          <div>Graph 1</div>
        </div>
      </div>
      <div class="col-md-4 mt-4 mt-md-0">
        <div class="content">
          <h4>Total Revenue</h4>
          <div>Graph 2</div>
        </div>
      </div>
    </div>
    <div class="row sessions mt-4">
      <div class="col-12">
        <div class="content">
          <h4>Current Sessions</h4>
          <div class="row">
            <div class="col-xl-3 col-sm-6">
              <div class="sessionData">
                <div class="image">
                  <img src="../../../assets/images/currentsession1.png" alt="" />
                </div>
                <div class="textData">
                  <div class="time">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span>03-16-2022 | 03:50 PM</span>
                  </div>
                  <h6>Career Consultation</h6>
                  <h5>Aliqua id fugiat nostrud irure.</h5>
                  <h6>Economics Nature</h6>
                  <p>
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6">
              <div class="sessionData">
                <div class="image">
                  <img src="../../../assets/images/currentsession2.png" alt="" />
                </div>
                <div class="textData">
                  <div class="time">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span>03-16-2022 | 03:50 PM</span>
                  </div>
                  <h6>Career Consultation</h6>
                  <h5>Aliqua id fugiat nostrud irure.</h5>
                  <h6>Economics Nature</h6>
                  <p>
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6">
              <div class="sessionData">
                <div class="image">
                  <img src="../../../assets/images/currentsession3.png" alt="" />
                </div>
                <div class="textData">
                  <div class="time">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span>03-16-2022 | 03:50 PM</span>
                  </div>
                  <h6>Career Consultation</h6>
                  <h5>Aliqua id fugiat nostrud irure.</h5>
                  <h6>Economics Nature</h6>
                  <p>
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6">
              <div class="sessionData">
                <div class="image">
                  <img src="../../../assets/images/currentsession4.png" alt="" />
                </div>
                <div class="textData">
                  <div class="time">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span>03-16-2022 | 03:50 PM</span>
                  </div>
                  <h6>Career Consultation</h6>
                  <h5>Aliqua id fugiat nostrud irure.</h5>
                  <h6>Economics Nature</h6>
                  <p>
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-mentorship-programs></app-mentorship-programs> -->
</div>