#preview{
    width: 50%;
    margin-top: 3rem;
  }
  
  #preview:hover{
    background-color: #fe4d4d !important;
  }
  
  .modal {
    display: none;
  }
  
  #search{
    width: 50%;
    float: right;
  }
  
  #search:hover{
    background-color: #fe4d4d !important;
  }
  
  .date {
  margin-left: auto;
  }