<div class="row p-3">
  <div class="col-6">
    <h4>{{ this.content.heading? this.content.heading :"-" }}</h4>
  </div>
</div>
<div class="primaryLayout">
  <div class="row">
    <!-- <h3> </h3> -->
    <p> {{ this.content.text? stripTags( this.content.text ):"Contact to Pxalm" }}</p>
    <!-- <div class="col">
      <div class="content">
        <h4>1. Introduction</h4>
        <p>
          This document outlines the terms and conditions of using Pxalm. By
          signing up as a mentor or mentee, you are agreeing to abide by these
          terms and conditions.
        </p>
      </div>
      <div class="content">
        <h4>2. Mentorship Services</h4>
        <p>
          Pxalm provides a platform for individuals to connect with mentors and
          mentees for the purpose of personal and professional growth. Mentors
          and mentees can participate in both 1-on-1 and group mentorship
          sessions.
        </p>
      </div>
      <div class="content">
        <h4>3. Commission</h4>
        <p>
          The Mentorship App will take 25% of the earnings paid by mentees to
          mentors. This amount may be reduced through incentives such as posting
          a video ad on social media or referring new mentors or mentees to the
          app.
        </p>
      </div>
      <div class="content">
        <h4>4. Mentorship Session Tracking</h4>
        <p>
          Mentorship sessions can be tracked both online and offline. The app
          will monitor and verify the start and end time of each session to
          ensure the integrity of the mentorship program.
        </p>
      </div>
      <div class="content">
        <h4>5. Identification and Certifications</h4>
        <p>
          All users of the app must upload a government-issued ID card for
          verification purposes. Mentors may also upload a document
          demonstrating their skills and expertise in their mentorship program.
          Mentees will be able to see a certified badge above programs created
          by mentors who have uploaded a skill certificate.
        </p>
      </div>
      <div class="content">
        <h4>6. Payments and Dispute Resolution</h4>
        <p>
          Payments from mentees will be held in an escrow account until the
          start of the first session and then released to the mentor. In the
          event of a dispute, evidence must be provided and reviewed before
          resolution can be reached.
        </p>
      </div>
      <div class="content">
        <h4>7. Cancellation Policy</h4>
        <p>
          Mentors are allowed to have a minimum of 85% cancellation rate before
          they can cancel mentorship sessions. When mentees and mentors have met
          during an offline mentorship session, the app must be notified.
        </p>
      </div>
      <div class="content">
        <h4>8. Offline Mentorship Session Safety</h4>
        <p>
          Mentees are encouraged to share their offline mentorship location and
          ID with a trusted friend. In the case of an emergency, mentees can
          dial the emergency number during an offline mentorship session.
        </p>
      </div>
      <div class="content">
        <h4>9. Mentor Availability</h4>
        <p>
          Mentors will indicate their availability for after-session support on
          the app. The exact location for offline mentorship sessions will only
          be revealed to mentees who have paid for the mentorship program.
        </p>
      </div>
      <div class="content">
        <h4>10. Prohibited Conduct</h4>
        <p>
          Pxalm does not tolerate fraud, foul language, or any other
          inappropriate behavior. Any user who violates these terms and
          conditions may be subject to immediate suspension or termination of
          their account.
        </p>
      </div>
      <div class="content">
        <p>
          By signing up to use Pxalm, you agree to abide by these terms and
          conditions. Pxalm reserves the right to update and modify these terms
          and conditions at any time without notice.
        </p>
      </div>
    </div> -->
  </div>
</div>
