<!-- <form [formGroup]="emailverificationForm">

    <input type="text" placeholder="Email" formControlName="email" class="space"><br>
    
    <button class="space" (click)="sendEmail()">Send Email</button>
    
    </form> -->

<div class="container-fluid">
  <div class="row h-100">
    <div class="col-md-6 sliderection centerMid">
      <div class="sliderContainer">
        <div class="logo">
          <img src="../../../assets/images/logo.png" alt="" />
        </div>
        <div class="sliderImg">
          <img src="../../../assets/images/forgetpassword.png" alt="" />
        </div>
      </div>
    </div>
    <div class="col-md-6 centerMid">
      <div class="formContainer">
        <div class="logoIcon">
          <img src="../../../assets/images/keyIcon.png" alt="" />
        </div>
        <h1>Forgot Password?</h1>
        <p>No worries, we'll send you reset instructions.</p>
        <form [formGroup]="emailverificationForm">
          <div class="row">
            <div class="col p-0">
              <label for="email">Email Address</label
              ><span class="invaliddiv">*</span>
              <div class="inputField">
                <input
                  id="email"
                  type="text"
                  placeholder="email"
                  formControlName="email"
                  class="form-control text-lowercase"
                  [ngClass]="{ 'is-invalid': submitted && emailverificationForm.get('email')!.errors?.['required']}"
                />
                <div
                  *ngIf="
                    submitted && emailverificationForm.controls['email']!.errors
                  "
                  class="invaliddiv"
                >
                  <div
                    *ngIf="emailverificationForm.controls['email']!.errors?.['required']"
                  >
                    Email is required
                  </div>
                  <div
                    *ngIf="emailverificationForm.controls['email']!.errors?.['email']"
                  >
                    Email must be a valid email address
                  </div>
                </div>
                <img src="../../../assets/images/icon/email.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 mt-4">
              <button class="btn btn-main" (click)="sendEmail()">
                Reset Password
              </button>
            </div>
            <div class="col-12 mt-4">
              <button
                class="btn btn-main-outline"
                [routerLink]="['/login']"
                [queryParams]="{ type: type }"
              >
                Back to Login
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
