<div class="container-fluid">
  <div class="primaryLayout">
    <div class="row">
      <div class="col-md-4">
        <div class="ratings">
          <h5>Average Rating</h5>
          <div class="stars">
            <h1>{{ rating ? rating : "0"}}</h1>
            <div class="starBox">
              <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                <ng-container *ngIf="i < rating ">
                  <ng-container *ngIf="rating  - i < 1">
                    <i class="fa-solid fa-star-half-stroke"></i>
                  </ng-container>
                  <ng-container *ngIf="rating  - i >= 1">
                    <i class="fa-solid fa-star"></i>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="i >= rating ">
                  <i class="fa-regular fa-star"></i>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ratings">
          <h5>Cancellation Rating</h5>
          <div class="stars">
            <h1>{{cancellationRating.rating ? cancellationRating.rating : "0"}} %</h1>
            <!-- <div class="starBox">
              <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                <ng-container *ngIf="i < (cancellationRating.rating) ">
                  <ng-container *ngIf="(cancellationRating.rating)  - i < 1">
                    <i class="fa-solid fa-star-half-stroke"></i>
                  </ng-container>
                  <ng-container *ngIf="(cancellationRating.rating)  - i >= 1">
                    <i class="fa-solid fa-star"></i>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="i >= (cancellationRating.rating) ">
                  <i class="fa-regular fa-star"></i>
                </ng-container>
              </ng-container>
            </div> -->
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <div class="ratingProgress">
          <div class="row align-items-center">
            <div class="col-2">
              <p class="mb-0"><i class="fa-solid fa-star"></i> 5</p>
            </div>
            <div class="col-7">
              <div class="progress" style="height: 6px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="70"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 40%"
                >
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>
            </div>
            <div class="col-3">
              <p class="mb-0 ms-3">3.0K</p>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-2">
              <p class="mb-0"><i class="fa-solid fa-star"></i> 4</p>
            </div>
            <div class="col-7">
              <div class="progress" style="height: 6px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="70"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 40%"
                >
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>
            </div>
            <div class="col-3">
              <p class="mb-0 ms-3">3.0K</p>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-2">
              <p class="mb-0"><i class="fa-solid fa-star"></i> 3</p>
            </div>
            <div class="col-7">
              <div class="progress" style="height: 6px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="70"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 40%"
                >
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>
            </div>
            <div class="col-3">
              <p class="mb-0 ms-3">3.0K</p>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-2">
              <p class="mb-0"><i class="fa-solid fa-star"></i> 2</p>
            </div>
            <div class="col-7">
              <div class="progress" style="height: 6px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="70"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 40%"
                >
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>
            </div>
            <div class="col-3">
              <p class="mb-0 ms-3">3.0K</p>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-2">
              <p class="mb-0"><i class="fa-solid fa-star"></i> 1</p>
            </div>
            <div class="col-7">
              <div class="progress" style="height: 6px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  aria-valuenow="70"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 40%"
                >
                  <span class="sr-only">70% Complete</span>
                </div>
              </div>
            </div>
            <div class="col-3">
              <p class="mb-0 ms-3">3.0K</p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<div class="container-fluid">
  <!-- <div class="row">
        <div class="col">
            <div class="filterBar">
                <div class="calenderTabs">
               
               
            </div>
            </div>
        </div>
    </div> -->
  <div class="row">
    <div class="col">
      <div class="filterBar">
        <div class="pageTitle">
          <!-- <div class="icon">

                        <i class="fa-solid fa-chevron-left" (click)="goBack()"></i>
                    </div> -->

          <h2 class="mb-0">Programs</h2>
        </div>

        <div class="searchBox">
          <div class="icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="searchBox">
            <input
              type="text"
              class="form-control border-end-0 form-control-lg"
              placeholder="Search"
              style="font-size: 13px"
              (keyup)="onKeyUpEvent($event)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab">
    <div class="tabContent">
      <div class="row">
        <div class="col-xl-4 col-md-6" *ngFor="let data of UserData">
          <div
            class="content" [routerLink]="['/mentor/mentor-dashboard/ratings']"
            [queryParams]="{ _id: data._id }">
            <div class="contentDetail">
              <div class="image">
                <img
                  *ngIf="data?.image"
                  [src]="showImage + data.image"
                  alt="Image"
                />
                <img
                  *ngIf="!data?.image"
                  src="../../../../assets/images/sessions.png"
                  alt=""
                />
              </div>
              <div class="text">
                <div class="time">
                  <i class="fa-solid fa-calendar-days"></i>
                  <span>{{ data.start_date | date : "mediumDate" }} </span>
                  {{ data.time }}
                </div>
                <h5 class="title">{{ data?.mentorship_name }}</h5>
                <!-- <div class="ratings"> -->
                <h3>Rating</h3>
                <div class="stars">
                  <h5 >{{ data?.averageRating }}</h5>
                  <div class="starBox">
                    <ng-container>
                      <ng-container *ngIf="data?.averageRating">
                        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                          <ng-container *ngIf="i < data?.averageRating">
                            <ng-container *ngIf="data?.averageRating - i < 1">
                              <i class="fa-solid fa-star-half-stroke"></i>
                            </ng-container>
                            <ng-container *ngIf="data?.averageRating - i >= 1">
                              <i class="fa-solid fa-star"></i>
                            </ng-container>
                          </ng-container>
                          <ng-container *ngIf="i >= data?.averageRating">
                            <i class="fa-regular fa-star"></i>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="UserData.length <= 0">
      <p class="text-center my-4">Programs not available</p>
    </div>
  </div>
</div>

  <!-- [routerLink]="['/mentor/mentor-dashboard/ratedsessions']"
            [queryParams]="{ _id: data._id }" -->
