<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="filterBar">
        <div class="searchBox">
          <div class="icon">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="searchBox">
            <input type="text" class="form-control" placeholder="Search" />
          </div>
          <div class="icon">
            <i class="fa-solid fa-filter"></i>
          </div>
        </div>
        <div class="addProgram">
          <button class="btn btn-main">Add New Program</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="tab">
        <div class="tabHeader">
          <div class="tabTitle">
            <div class="icon">
              <img src="../../../assets/images/icon/Immigration.svg" alt="" />
            </div>
            <div class="text">
              <h5>Immigration</h5>
              <p class="mb-0">10 Programs</p>
            </div>
          </div>
          <div class="controller">
            <span>View All</span>
            <i
              class="fa-solid fa-angle-down cursor-pointer"
              (click)="tabCollapse = !tabCollapse"
            ></i>
          </div>
        </div>
        <div class="tabContent" *ngIf="tabCollapse">
          <div class="row">
            <div class="col-md-4">
              <div class="content">
                <div class="image">
                  <img src="../../../assets/images/tabImage1.png" alt="" />
                </div>
                <div class="text">
                  <h5 class="title">Aliqua fugiat nostr fgdfg dfgd dfg</h5>
                  <div class="time">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span>03-16-2022 | 03:50 PM</span>
                  </div>
                  <div class="price">
                    <div class="row">
                      <div class="col-5">
                        <p>Price</p>
                      </div>
                      <div class="col-7">
                        <p>Total Sessions</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-5">
                        <h5>$14.99</h5>
                      </div>
                      <div class="col-7">
                        <h5>20</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="content">
                <div class="image">
                  <img src="../../../assets/images/tabImage1.png" alt="" />
                </div>
                <div class="text">
                  <h5 class="title">Aliqua fugiat nostr fgdfg dfgd dfg</h5>
                  <div class="time">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span>03-16-2022 | 03:50 PM</span>
                  </div>
                  <div class="price">
                    <div class="row">
                      <div class="col-5">
                        <p>Price</p>
                      </div>
                      <div class="col-7">
                        <p>Total Sessions</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-5">
                        <h5>$14.99</h5>
                      </div>
                      <div class="col-7">
                        <h5>20</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="content">
                <div class="image">
                  <img src="../../../assets/images/tabImage1.png" alt="" />
                </div>
                <div class="text">
                  <h5 class="title">Aliqua fugiat nostr fgdfg dfgd dfg</h5>
                  <div class="time">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span>03-16-2022 | 03:50 PM</span>
                  </div>
                  <div class="price">
                    <div class="row">
                      <div class="col-5">
                        <p>Price</p>
                      </div>
                      <div class="col-7">
                        <p>Total Sessions</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-5">
                        <h5>$14.99</h5>
                      </div>
                      <div class="col-7">
                        <h5>20</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="content">
                <div class="image">
                  <img src="../../../assets/images/tabImage1.png" alt="" />
                </div>
                <div class="text">
                  <h5 class="title">Aliqua fugiat nostr fgdfg dfgd dfg</h5>
                  <div class="time">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span>03-16-2022 | 03:50 PM</span>
                  </div>
                  <div class="price">
                    <div class="row">
                      <div class="col-5">
                        <p>Price</p>
                      </div>
                      <div class="col-7">
                        <p>Total Sessions</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-5">
                        <h5>$14.99</h5>
                      </div>
                      <div class="col-7">
                        <h5>20</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="content">
                <div class="image">
                  <img src="../../../assets/images/tabImage1.png" alt="" />
                </div>
                <div class="text">
                  <h5 class="title">Aliqua fugiat nostr fgdfg dfgd dfg</h5>
                  <div class="time">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span>03-16-2022 | 03:50 PM</span>
                  </div>
                  <div class="price">
                    <div class="row">
                      <div class="col-5">
                        <p>Price</p>
                      </div>
                      <div class="col-7">
                        <p>Total Sessions</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-5">
                        <h5>$14.99</h5>
                      </div>
                      <div class="col-7">
                        <h5>20</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="content">
                <div class="image">
                  <img src="../../../assets/images/tabImage1.png" alt="" />
                </div>
                <div class="text">
                  <h5 class="title">Aliqua fugiat nostr fgdfg dfgd dfg</h5>
                  <div class="time">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span>03-16-2022 | 03:50 PM</span>
                  </div>
                  <div class="price">
                    <div class="row">
                      <div class="col-5">
                        <p>Price</p>
                      </div>
                      <div class="col-7">
                        <p>Total Sessions</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-5">
                        <h5>$14.99</h5>
                      </div>
                      <div class="col-7">
                        <h5>20</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
