@import "/src/styles.scss";

.sendMail {
  text-align: center;
  padding: 20px 0;
  .mail {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba($color: $primary, $alpha: 0.02);
    @include itemPosition(center, center);
    margin: auto;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 12px;
  }
}
