<div class="row p-3">
  <div class="col-md-6">
    <h4>Notification Settings</h4>
  </div>
</div>
<div class="primaryLayout">
  <div class="row notification">
    <div class="col-12 p-3">
      <h5>Enable Notification</h5>
      <div class="notificationEnable">
        <p>Allow Notification</p>
        <!-- Default checked -->
        <div class="custom-control">
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 px-3">
      <h5>Notification Types</h5>
      <div class="notificationEnable">
        <p>Updates & Offerings</p>
        <!-- Default checked -->
        <div class="custom-control">
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 px-3">
      <div class="notificationEnable">
        <p>Chat Notification</p>
        <!-- Default checked -->
        <div class="custom-control">
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 px-3">
      <div class="notificationEnable">
        <p>Rewards Alerts</p>
        <!-- Default checked -->
        <div class="custom-control">
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-12 px-3">
      <div class="notificationEnable">
        <p>Comments Alerts</p>
        <!-- Default checked -->
        <div class="custom-control">
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
